<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button type="button" ion-button margin-top outline round color="primary" (click)="open()">Abrir</button>
  <button type="button" button button-full button-assertive (click)="tomarFoto()">Tomar foto</button>
</ion-content>
